# Dunder Data Challenge 005 - Keeping Values Within Interquartile Range

In this challenge, you are given a table of closing stock prices for 10 different stocks with data going back as far as 1999. For each stock, calculate the [interquartile range (IQR)][1]. Return a DataFrame that satisfies the following conditions:

* Keep values as they are if they are within the IQR
* For values lower than the first quartile, make them equal to the exact value of the first quartile
* For values higher than the third quartile, make them equal to the exact value of the third quartile

[1]: https://en.wikipedia.org/wiki/Interquartile_range

In [1]:
import pandas as pd
stocks = pd.read_csv('../data/stocks10.csv', index_col='date', parse_dates=['date'])
stocks.head()

             MSFT  AAPL    SLB   AMZN  TSLA    XOM    WMT      T  FB   V
date
1999-10-25  29.84  2.32  17.02  82.75   NaN  21.45  38.99  16.78 NaN NaN
1999-10-26  29.82  2.34  16.65  81.25   NaN  20.89  37.11  17.28 NaN NaN
1999-10-27  29.33  2.38  16.52  75.94   NaN  20.80  36.94  18.27 NaN NaN
1999-10-28  29.01  2.43  16.59  71.00   NaN  21.19  38.85  19.79 NaN NaN
1999-10-29  29.88  2.50  17.21  70.62   NaN  21.47  39.25  20.00 NaN NaN

### Challenge

There is a straightforward solution that completes this challenge in a single line of readable code. Can you find it?

In [2]:
stocks.clip(stocks.quantile(0.25), stocks.quantile(0.75), axis=1).head()

             MSFT  AAPL    SLB   AMZN  TSLA    XOM    WMT      T  FB   V
date
1999-10-25  29.84  3.91  25.62  82.75   NaN  32.62  38.99  16.78 NaN NaN
1999-10-26  29.82  3.91  25.62  81.25   NaN  32.62  37.62  17.28 NaN NaN
1999-10-27  29.33  3.91  25.62  75.94   NaN  32.62  37.62  18.27 NaN NaN
1999-10-28  29.01  3.91  25.62  71.00   NaN  32.62  38.85  19.79 NaN NaN
1999-10-29  29.88  3.91  25.62  70.62   NaN  32.62  39.25  20.00 NaN NaN

# Become a pandas expert

If you are looking to completely master the pandas library and become a trusted expert for doing data science work, check out my book [Master Data Analysis with Python][1]. It comes with over 300 exercises with detailed solutions covering the pandas library in-depth.

[1]: https://www.dunderdata.com/master-data-analysis-with-python